[tool.poetry]
name = "Lightning.py"
version = "3.3.0-alpha"
description = ""
authors = ["LightSage <lightsage01@gmail.com>"]
license = "AGPL-3.0-or-later"
readme = "README.md"
repository = "https://gitlab.com/lightning-bot/Lightning"
packages = [
    { include = "lightning/**/*.py" }, 
    { include = "LICENSE" },
    { include = "LICENSE.header" }
]

[tool.poetry.dependencies]
python = "^3.8"
"discord.py" = {git = "https://github.com/LightSage/discord.py", branch = "master"}
Pillow = "^8.2.0"
python-dateutil = "^2.8.1"
parsedatetime = "^2.6"
psutil = "^5.7.2"
tabulate = "^0.8.7"
hiredis = "^1.1.0"
aredis = "^1.1.8"
feedparser = "^5.2.1"
asyncpg = "^0.24.0"
discord-ext-menus = {git = "https://github.com/LightSage/discord-ext-menus.git"}
lru_dict = "^1.1.6"
sentry-sdk = ">=1.0.0,<2.0.0"
migra = {extras = ["pg"], version = "^1.0.1597915807", optional = true}
py-flags = "^1.1.4"
jishaku = "^2.3.0"
rapidfuzz = "^1.6.1"
typer = "^0.4.0"
yoyo-migrations = "^7.3.1"
psycopg2 = "^2.8.6"
tomlkit = "^0.7.0"
uvloop = {version = "^0.15.3", optional = true}
orjson = "^3.6.0"
beautifulsoup4 = "^4.9.3"
lxml = "^4.6.3"
slowo = "^0.3"
bottomify = "^1.1.1"
discord-ext-menus-views = {git = "https://github.com/LightSage/discord-ext-menus-views"}

[tool.poetry.dev-dependencies]
isort = "^5.4.2"
flake8 = "^3.9.2"
autopep8 = "^1.5.7"
pre-commit = "^2.13.0"

[tool.poetry.scripts]
lightning = 'lightning.cli.main:parser'

[tool.autopep8]
max_line_length = 120
ignore = ["E301", "F402"]
in-place = true
recursive = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
