jishaku
git+https://github.com/LightSage/discord.py@master#egg=discord.py
python-dateutil
beautifulsoup4
parsedatetime
Pillow
github3.py
asyncpg
feedparser
toml
git+https://gitlab.com/lightning-bot/bolt@master#egg=bolt
lru_dict
python-dateutil
dpy-ui
fuzzywuzzy
discord-flags==2.0.4
tabulate